.leftContainer {
    width: 39%;
    /* border: 2px solid rgb(130, 168, 238); */
    height: 98%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    color: var(--textcolor);
    /* overflow-y: auto; */
}

.middleContainer {
    height: 100%;
    /* display: flex; */
    flex-direction: column;

    /* align-items: center; */
    width: 29%;
    gap: 1.5%;
    /* justify-content: space-around; */
    overflow-y: auto;
    box-sizing: border-box;
}

.rightContainer {
    width: 32%;
    height: 99%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1%;
}

.dropDown {
    height: 5%;
    margin: 1.5% auto 1.5% auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 0 4% 0 4%;
    border-radius: 7px;
    align-items: center;
    background-color: var(--darkerGreen);
}
.PieAndLogout {
    display: flex;
    height: 50%;
    flex-direction: column;
}
.TotalAndLogOut {
    display: flex;
    height: 20%;
    /* gap: 40%; */
    justify-content: space-around;
    align-items: center;
    /* width: 90%; */
}
.logOut {
    cursor: pointer;
    height: 70%;
    width: 30%;
    background-color: #981f1f;
    border-radius: 7px;
    border: 2px solid #5f1212;
    color: var(--textcolor);
}
.total {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border: 2px solid var(--darkerGreen);
    border-radius: 7px;
    align-items: center;
    background-color: #4c5c5752;
    justify-content: space-around;
}

@media screen and (max-width: 798px) {
    .leftContainer {
        width: 100vw;
        height: 50vh;
    }
    .middleContainer {
        width: 100vw;
    }
    .rightContainer {
        width: 100vw;
        height: auto;
    }
}
