.container {
    border-radius: 25px;
    width: max(40%, 306px);
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.loginTitle {
    margin: 0;
    width: 60%;
    text-align: center;
    color: var(--darkGreen);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    width: 80%;
    height: 70%;
    color: var(--textcolor);
}
.form label {
    cursor: pointer;
}

.textInput fieldset {
    outline: none;
    color: white;
    border: 2px solid var(--darkGreen);
    height: max(40%, 51.4px);
    border-radius: 7px;
    font-size: 16px;
    background: transparent;
    padding: 0;
    display: flex;
    align-items: center;
}
.textInput fieldset:focus-within {
    border: 2px solid var(--darkGreen);
    box-shadow: 0 0 5px 2px var(--darkGreen);
}
.textInput legend {
    padding-bottom: 1%;
    color: var(--darkGreen);
    font-weight: bold;
    font-size: 15px;
}

.textInput .userNameFieldSet legend {
    background-color: #383c3e;
}
.textInput .passwordFieldSet legend {
    background-color: #35393b;
}
.passwordFieldSet {
    display: flex;
    align-items: center;
}
.icon {
    height: 75%;
    display: flex;
    align-self: self-start;
    justify-self: flex-start;
    margin-right: 5px;
    /* border: 2px solid white; */
}
.textInput input {
    color: var(--textcolor);
    width: 98%;
    height: max(calc(100% - 15px), 28.5px);
    /* padding-top: 5px ; */
    background-color: transparent;
    border: none;
    outline: none;
}
.textInput input:active + .userNameFieldSet {
    border: 2px solid var(--darkGreen);
    border-radius: 5px;
    box-shadow: 0 0 5px 2px var(--darkGreen);
}

.submit {
    border: none;
    background-color: var(--darkGreen);
    color: var(--textcolor);
    height: max(20%, 51.4px);
    border-radius: 7px;
    cursor: pointer;
}
.keepAndforget {
    display: flex;
    height: 20%;
    justify-content: space-between;
    align-items: center;
}
.textInput {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-around;
}
.checkBox {
    accent-color: var(--darkGreen);
    align-self: center;
    margin: 0;
}

a {
    margin: 0;
    color: var(--darkGreen);
}
.redirectToRegiser {
    text-align: center;
}
@media screen and (max-width: 798px) {
    .container {
        width: 100vw;
        height: 50vh;
    }
}
@media screen and (max-height: 500px) {
    .container {
        height: 70vh;
    }
}
