.optionsBar {
    display: flex;
    justify-content: space-between;
    color: var(--textcolor);
}
.optionBarButtons {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.optionButton {
    width: 30%;
    background-color: var(--darkGreen);
    border-radius: 7px;
    border: 3px solid var(--darkerGreen);
}
.optionButton:active {
    background-color: var(--darkerGreen);
    border: 3px solid var(--darkGreen);
}
/* 
@media screen and (max-width: 798px) {
    .optionsBar {
        width: 100vw;
    }
} */
