.optionsBar {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid rgb(255, 0, 0); */
}
.optionBarButtons {
    /* border: 2px solid rgb(255, 247, 0); */
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.optionButton {
    width: 30%;
    background-color: var(--darkGreen);
    border-radius: 7px;
    border: 3px solid var(--darkerGreen);
}
.optionButton:active {
    background-color: var(--darkerGreen);
    border: 3px solid var(--darkGreen);
}